<%# idによってクラス名を変えています。 %>

<% case person_kind %>
<% when 1 %>
  <h3 class="tetsuya"> てつや </h3>
<% when 2 %>
  <h3 class="shibayu"> しばゆー </h3>
<% when 3 %>
  <h3 class="ryo"> りょう </h3> 
<% when 4 %>
  <h3 class="toshimitsu"> としみつ </h3>
<% when 5 %>
  <h3 class="yumemaru"> ゆめまる </h3>
<% when 6 %>
  <h3 class="mushimegane"> 虫眼鏡 </h3>
<% else %>
  <h3 class="no-one"> 該当者無し </h3>
<% end %>