<%= stylesheet_link_tag "videos", :media => "all" %>

<div 
  class="search-videos-index"
  data-videos="<%= videos_index_json(@all_videos) %>"
>
</div>  <%# search_videos.jsを読み込んでいる。 videos_index_jsonメソッドはvideos_helperにて定義 %>