<%= stylesheet_link_tag "penalties", :media => "all" %>

<div class="background-image">
  <%= image_tag 'tokai-onair.png' %>
</div>
<div class="background-title">
  <div class="background-title-column">
    <h3>Penalties</h3>
    <h2>罰ゲーム（十字架）</h2>
  </div>
</div>

<div class="width-96">
  <div class="penalties">
    <%= render partial: "penalty-color", locals: { penalties: @penalties }%>
  </div>
</div>