@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  font-family:'M PLUS Rounded 1c', sans-serif;
}

h2 {
  color : rgb(88, 84, 84);
  font-size: 20px;
  margin: 0;
}

a,a:visited {
  text-decoration: none;
}

.navbar{
  max-width: 100%;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom : 2px solid rgb(238, 232, 232);
}

.title-logo {
  margin-left: 20px;
  font-family:'M PLUS Rounded 1c', sans-serif;
}

.title-logo h1,a {
  margin: 0;
  color : rgb(66, 63, 63);
  font-size: 30px;
}

.user_btn{
  width : 220px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color:rgb(224, 0, 253);
  border-radius: 22px;
}

.user_btn a {
  font-size: 20px;
  color: white;
}

.main-contents {
  display: flex;
  justify-content: center;
}

.yield {
  max-width: 100%;
  width: 94%;
}