@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
@import "font-awesome-sprockets";
@import "font-awesome";

 .navbar-light .navbar-toggler {
  border-color: rgba(0,0,0,0);
}

.nav-serch{
  display: flex;
}

.detailed-search {
  margin-left: 10px !important;
}

.modal-backdrop { // これがないとモーダルウインドウがうまく作動しなかった。 http://gagapi.hatenablog.jp/entry/2013/07/09/235137
  z-index: 1020; 
}
.modal-footer{
  width: 100%;
  justify-content: flex-start;
}

 body { padding-top: 57px; } //navbarを固定した時にに必要なpadding!公式にも記述あり。 https://qiita.com/PoohSunny/items/ff78ed50332ddaf330a8

 .nav {
   margin: 0 auto;
   width : 97%;
  padding-top: 30px; //重ならない用
}

.notification {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background-color: rgb(5, 253, 253);
  p {
    font-size: 30px;
    color: white;
  }
}

.width-96{
  width: 96%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.search-form {
  margin: 20px 0;
}

.title {
  height: 100px;
  background-color: rgb(44, 44, 44);
  box-shadow: 2px 2px 4px gray;
  display: flex;
  align-items: center;
  h3 , a , a:hover , a:visited{
    font-family: "Helvetica Neue";
    font-size: 35px;
    margin-left: 30px;
    color: white;
  }
}
.background-image {
  img {
    width: 100%;
    height: 300px;
    position: absolute;
    object-fit: cover;  //トリミング
    object-position: 0 30%;
    opacity: 0.4;
    filter: blur(2px);
    animation: SlideIn 1s;
  }
}
.background-title {
  width: 100%;
  height: 300px;
  position: relative;
  display: flex;
  align-items: center;
  animation: fade-in 2s;
  .background-title-column{
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    h3{
      font-family: "Helvetica Neue";
      font-size: 45px;
    }
  }
}

 .tetsuya {
  background-color: rgb(255, 145, 0);
  color: white !important;
}
.shibayu {
  background-color: rgb(255, 227, 13);
  color: white !important;
}
.ryo {
  background-color: rgb(4, 0, 255);
  color: white !important;
}
.toshimitsu {
  background-color: rgb(51, 255, 0);
  color: white !important;
}
.yumemaru {
  background-color: rgb(255, 0, 242);
  color: white !important;
}
.mushimegane {
  background-color: rgb(117, 76, 0);
  color: white !important;
}
.tokai {
  background-color: rgb(5, 253, 253);
  color: white !important;
}

.btn{
  margin: 0 0 3px 0;
}

.btn-secondary , .btn-success , .btn-danger {
  border-radius: 5px;
  border-color: transparent;
  a , a:visited{
    color: white;
  }
}

body {
  margin: 0;
  font-family:'M PLUS Rounded 1c', sans-serif;
}

h2 {
  color : rgb(88, 84, 84);
  font-size: 20px;
  margin: 0;
}

h3{
  margin: 0;
}

p{
  margin: 0;
}

a,a:visited,a:hover {
  text-decoration: none;
  color : rgb(66, 63, 63);
}

li {
  list-style: none;
}

.navbar{
  max-width: 100%;
  width: 100%;
  border-bottom : 2px solid rgb(238, 232, 232);
}

.title-logo {
  margin-left: 20px;
  font-family:'M PLUS Rounded 1c', sans-serif;
}

.title-logo,a {
  margin: 0;
  color : rgb(66, 63, 63);
}

.user_btn{
  width : 220px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color:rgb(224, 0, 253);
  border-radius: 22px;
}

.user_btn a {
  font-size: 20px;
  color: white;
}

.main-contents {
  display: flex;
  justify-content: center;
}

.yield {
  margin: 20px 0;
  max-width: 100%;
  width: 100%;
  min-width: 100%;
  min-height: 100vh;
}

// submitボタン
.decorated-btn {
  background-color: rgb(255, 145, 0);
  font-size: 12px;
  border-radius: 5px;
  border-bottom: solid 3px rgb(0, 0, 0);
  box-shadow: 3px 3px 3px gray;
  transition: 0.3s;
}
.click-down:active {
  transform: translateY(2px);
  border-bottom: none;
}
.decorated-btn:hover {
  background-color: rgb(5, 253, 253);
}

// フォーム共通CSS
div[class*="form_video"]{
  background-color: rgb(250, 250, 250);
}
div[class*="form_"]{
  width : 96%;
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  label{
    justify-content: flex-start;
  }
}

div[class*="form-"]{
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
}

.form-date{
  margin-bottom: 30px;
  label{
    justify-content: flex-start;
  }
}

input[type="search"] {
  width: 310px;
  height: 30px;
}
input[type="text"] {
  width: 300px;
  height: 30px;
}
textarea {
  width: 1200px;
  height: 400px;
}
select {
  width: 100px;
  height: 40px;
}

.form-collection-check { //中間テーブルのセレクター
  width: 100%;
  
  .form_group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 20px;

    .form_check {
      width: auto;
      display: flex;
      margin-right: 2em;
      font-size: 1em;
      
    }
  }
}

.recommend-videos{ //関連動画のフォーム
  display: flex;
  flex-wrap: wrap;

    .recommend-video {
      width: 18%;
      margin-left: 2em;

      .form-check-label {
        width: 100%;

        p {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
    }
  }
}


//kaminariのデザイン
.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: rgb(199, 199, 199);   /*文字の色を変える*/
}

.pagination>.active>a {     
  background: #ff8c00;     /*背景の色を変える*/
}

.pagination>li>a:hover {        
}

.page-item.active .page-link {
  background-color: rgb(255, 145, 0);
  border-color: #007bff;
}

.page-link:hover {
  color: white; 
  background-color: #00eeff;
}

.page-item:first-child .page-link {
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
}
// ここまでkaminari

//ここからvideo記事のデザイン
@media screen and (min-width: 1000px){ //widthが900pxまでのCSS
  div[class*="video_articles"] {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    a{
      font-size: 30px;
    }
  }
}

.video_article {
  margin-right: 0.5em;
  margin-bottom: 1em;
  width :24%;
  border: 2px solid rgb(238, 237, 237)
}
.video_article-show {
  width: 400px;
  border: 2px solid rgb(238, 237, 237)

}

// ↓記事が上にホバーするコード
.video_article{
  -webkit-transform: translate(0);
  transform: translate(0) ;
  -webkit-transition: .3s ease-in-out;
  transition: .4s ease-in-out;
}
.video_article:hover {
  -webkit-transform: translateY(-10px) scale(1);
  transform: translateY(-10px) scale(1);
  opacity: 0.5;
}
// ↑記事が上にホバーするコード

.article-image {// iframeのheightをレスポンシブにする　https://akros-ac.jp/8277/
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56%;

  iframe ,img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


.article-column{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  
}

.article-title {
  width : 100%;
  font-size :16px
}

.article_title{
  overflow: hidden;
  height: 3em;
  line-height: 1.7;
}

.article_row{
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.article-rate {
  width: 17%;
  display: flex;
  justify-content: center;
}
.S {
  color: gold;
}
.A {
  color: rgb(224, 12, 231);
}
.B {
  color: rgb(235, 29, 29);
}
.C {
  color: rgb(245, 158, 27);
}

.article-mvp {
  width: 25%;
  display: flex;
  justify-content: center;
  color:white;

  h3{
    white-space: nowrap;
    border-radius: 5px;
    padding: 1px 13px ;
    font-size: 0.6em;
  }
}


.article-tags{// ハッシュタグのデザイン
  width: 55%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;

  .article-tag {
    width: 49%;
    height: 24px;
    margin: 0.5%;
    border-radius: 5px;
    background-color: rgb(0, 247, 255);
    display: flex;
    justify-content: center;
    align-items: center;

    h3 {
      font-size: 13px;
      color: white;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

    }
  }
}

.article-date {
  display: inline;
  font-size :13px;
  a {
    font-size: 13px !important;
  }
}
div[id*="like-"]{ //inlineがないと横並びにならない
  display: inline;
  margin-left: 10px;
}
//ここまでvideo記事のデザイン

//person,penalty,tagのshowの共通デザイン
.person_background-image {
  img {
    width: 100%;
    height: 300px;
    position: absolute;
    object-fit: cover;  //トリミング
    object-position: 0 30%;
    opacity: 0.4;
    filter: blur(5px);
    animation: SlideIn 1s;
  }
}

.person_introduce_box {
  margin: 5% 0;
  display: flex;
  position: relative;
  justify-content: center;
  .person_image img {
    width: 400px;
    border: 1px solid white;
    box-shadow: 2px 2px 4px gray;

    animation-name: fade-in;
    animation-duration: 2s; //アニメーション時間
    animation-timing-function: ease-out; //アニメーションさせるイージング
    animation-delay: normal; //アニメーション開始させる時間
    animation-iteration-count: 1; //繰り返し回数
    animation-direction: normal; //往復処理をするかどうか
    animation-fill-mode: forwards; //アニメーション後のスタイルをどうするか
  }
  .person_name_description {
    width: 50%;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .person_name {
      margin: 50px 0 50px 0;
      h3 {
        font-size: 40px;
        font-weight: bold;      
      }
    }

  }
}
//ここまで

footer {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 158, 27);
  margin-top: auto;

  a,a:visited,a:hover,p {
    color: white;

  }
}


// アニメーション
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes SlideIn {
  0% {
    opacity: 0.8;
    transform: translateX(-1000px);
  }
  100% {
    opacity: 0.4;
    transform: translateX(0);
  }
}


@media screen and (max-width: 1180px){ //widthが1180pxまでのCSS
  .user_btn{ //ログインボタン非表示
    display: none;
  }
}

@media screen and (max-width: 999px){ //widthが999pxまでのCSS(スマホ用)
  h3 {
    font-size: 2em;
  }

  .nav {
    padding-top: 50px; //重ならない用
  }

  .navbar-nav {
    li{
      a , .nav-link{
        font-size: 40px;
      }
    }
  }

  div[class*="video_articles"] {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    a{
      margin-right: 0.3em;
      margin-bottom: 1em;
      font-size: 30px;
    }
  }

  .video_article , .video_article-show {
    width: 100%;
    margin-bottom: 10px;
  }

  .article-title {
    font-size :1em;
    margin-bottom: 30px;
  }

  .article-mvp {

    h3{
      font-size: 1.3em;
    }
  }

  .article-tags{// ハッシュタグのデザイン

    .article-tag {

      h3 {
        font-size: 1em;
      }
    }
  }

  .article-date {

    a {
      font-size: 1.5em !important;
    }
  }
  
  
}