// Place all the styles related to the penalties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.background-image {
  img {
    object-position: 0 20%;
  }
}

.btn {
  border-radius: 5px;
  border-color: transparent;
  a , a:visited{
    color: white;
    font-size: unset;
  }
}

h2{
  margin-bottom: 20px;
}

.recommend-penalty {
  margin : 30px 0;
}