// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
 .btn {
   border-radius: 5px;
   border-color: transparent;
   a , a:visited{
     color: white;
     font-size: unset;
   }
 }

 h2{
  margin-bottom: 20px;
}

.tag-show {
  margin :30px 0;
}

.recommend-tag {
  margin : 30px 0;
}