// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.main-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab-pane {
  margin-top: 20px;
}

.nav-item{
  background-color: rgb(255, 255, 255);
  a{
    color: rgb(171, 169, 169);
    font-size: 1em;
  }
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link { //タブがアクティブのときの背景色 https://application.hateblo.jp/entry/2019/07/25/000000_1
  color: #fff;
  background-color: rgb(255, 145, 0);
}


// showのCSS
.all-contents {
  margin: 20px 20px;
  display: flex;
  justify-content: space-between;
}

.video_box{
  width : 70%;
  border-top: 2px solid rgb(238, 237, 237);
}

.video-youtube{
  position: relative;
  width : 100%;
  height : 0;
  padding-top:57%;
  box-shadow: 2px 2px 4px gray;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


.video_title {
  width: 100%;
  margin: 20px 0px;
}

table {
  width : 100%;
  box-shadow: 2px 2px 4px gray;
}

td, th {
  padding: 20px 30px;
  } 

.highlight-content {
  display: flex;
  flex-direction: column;
  a {
    font-size: 20px;
    margin-bottom: 1%;
    color: rgb(0, 60, 255);
  }
}

.video-rate h3 {// ランク
  font-size: 40px;
}


.channel {
  background-color: red;
  a {
    color: white;
  }
}

.video-category {
  background-color: rgb(212, 0, 255);
  a {
    color: white;
  }
}
.video-penalty h3 {
  font-size: 0.7em;
}

.video-places h3 {
  background-color: rgb(255, 153, 0);
  font-size: 0.7em;
}

.video-musics h3{
  background-color: greenyellow;
  font-size: 0.7em;
}

.video-people .video-person-cast, .video-penalty{ //登場メンバーのデザインです
  margin: 0 10px 0 0 ;
}


.related-videos{
  display: inline-block;
  margin: 0 auto;
  a{
    font-size: 30px; //30pxにしないとデザイン崩れる
    .video-article{
      margin-bottom: 10px;
    }
  }

}

@media screen and (max-width: 999px){ //widthが999pxまでのCSS(スマホ用)
  .yield {
    margin: 0;
  }
  .all-contents {
    flex-direction: column;
  }
  .main-contents {
    margin : 0;
  }

  .video_box{
    width : 100%;
  }

  .video-youtube { //動画を固定表示する
    position: fixed;
    z-index: 999;
    top : 1;
    left: 0;
  }
  .video_title { //タイトルが下に入って重ならない用
    margin-top: 590px;
  }

  .video-description {
    th {

      p {
        font-size: 25px;
      }
    }
  }

  .highlight-content {
    a {
      font-size: 30px;
      margin-bottom: 20px;
    }
  }

}