// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// ul{
//   padding: 0;
//   display: flex;
//   flex-wrap: wrap;
// }

// li {
//   width: 200px;
//   margin-right: 1%;
//   margin-bottom: 1%;
// }

.video-articles{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // align-items: center;
  // justify-content: center;
}

.video-articles a {
  margin-right: 0.3em;
  margin-bottom: 1em;
}

.video-article {
  width :13em;
  border: 2px solid rgb(238, 237, 237)
}

// ↓記事が上にホバーするコード
.video-article{
  -webkit-transform: translate(0);
  transform: translate(0) ;
  -webkit-transition: .3s ease-in-out;
  transition: .4s ease-in-out;
}
.video-article:hover {
  -webkit-transform: translateY(-10px) scale(1);
  transform: translateY(-10px) scale(1);
  opacity: 0.5;
}
// ↑記事が上にホバーするコード

// iframeのheightをレスポンシブにする　https://akros-ac.jp/8277/
.article-image {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56%;
}
.article-image iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.article-column{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.article-title {
  width : 100%;
  font-size :16px
}

.article_title{
  overflow: hidden;
  height: 3em;
  line-height: 1.7;
}

.article_row{
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.article-rate {
  width: 17%;
  display: flex;
  justify-content: center;
}
.S {
  color: gold;
}
.A {
  color: rgb(224, 12, 231);
}
.B {
  color: rgb(235, 29, 29);
}
.C {
  color: rgb(245, 158, 27);
}

.article-mvp {
  width: 25%;
  display: flex;
  justify-content: center;
  color:white;
  font-size: 15px;
}
.article-mvp h3{
  border-radius: 5px;
  padding: 1px 13px ;
}
.tetsuya {
  background-color: rgb(255, 145, 0);
}
.shibayu {
  background-color: rgb(251, 255, 0);
}
.ryo {
  background-color: rgb(4, 0, 255);
}
.toshimitsu {
  background-color: rgb(51, 255, 0);
}
.yumemaru {
  background-color: rgb(255, 0, 242);
}
.mushimegane {
  background-color: rgb(117, 76, 0);
}


// ハッシュタグのデザイン
.article-tags{
  width: 55%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.article-tag {
  width: 49%;
  margin: 0.5%;
  font-size: 13px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  color: white;
  background-color: rgb(0, 247, 255);
}

.article-date {
  width : 100%;
  font-size :13px;
}


// showのCSS
.all-contents {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.video_box{
  width : 70%;
  border-top: 2px solid rgb(238, 237, 237);
}

.video-youtube{
  position: relative;
  width : 100%;
  height : 0;
  padding-top:55%
}

.video-youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video_title {
  width: 100%;
  margin: 20px 0px;
}

table {
  width : 100%;
}

td, th {
  padding: 20px 30px;
  } 

.video-rate h3 {// ランク
  font-size: 40px;
}

.video-tags{ // ハッシュタグ
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.video-tag * {
  margin: 0 5px 5px 0;
  display: inline-block;
  background-color: rgb(0, 247, 255);
  border-radius: 5px;
  color: white;
  font-size: 1em;
}

div[class*="video-person"] , .channel , .video-category , .video-penalty , .video-place , .video-music {
  color: white;
  display: flex;
  justify-content:center;
}

div[class*="video-person"] a , .channel h3 , .video-category h3 , .video-penalty h3 , .video-place h3 , .video-music h3{
  width: 30%;
  border-radius: 5px;
  font-size: 1.5em;
  color : white;
}

div[class*="video-person"] a h3 {
  border-radius: 5px;
}

.channel h3 {
  background-color: red;
  font-size: 1.3em;
}
.video-category h3 {
  background-color: rgb(212, 0, 255);
}
.video-penalty h3 {
  font-size: 0.7em;
}

.video-places h3 {
  background-color: rgb(255, 153, 0);
  font-size: 0.7em;
}

.video-musics h3{
  background-color: greenyellow;
  font-size: 0.7em;
}

.video-people .video-person-cast, .video-penalty{ //登場メンバーのデザインです
  margin: 5px;
}


.related-videos{
  display: inline-block;
}

.related-videos .video-article{
  margin-bottom: 10px;
}